@import "common";

.artist-result
{
    @include result();
    cursor: pointer;

    &:hover
    {
        transition: all 0.5s ease;
        box-shadow: 0 0 20px #888888;
        transform: scale(1.1, 1.1);
    }

    .artist-name, .artist-image
    {
        flex: 1;
    }

    .artist-name
    {
        font-size: 30px;
    }
}